{% load i18n static %}
{% load template_helpers %}


<c-default-layout pageTitle={% translate 'Form' %}>

  <c-slot name="extra_head_js">
    {{ indicators|json_script:"indicators" }}
    <script src="{% static 'js/surveyStore.js' %}"></script>
  </c-slot>

  <c-slot name="sidebar">
    <div class="mb-4 mt-8 pl-4">
      <ul class="min-w-[18rem] flex flex-col flex-no-wrap gap-4 overflow-x-scroll -mb-px text-sm font-medium text-center mx-auto" id="default-tab"
        data-tabs-toggle="#tab-content" role="tablist"
        data-tabs-active-classes="border-blue-700"
      >
        {% for section, fields in sections.items %}
        <li class="w-full border border-gray-300 rounded-lg" role="presentation" >
          <button class="w-full py-4 px-8 white-space-no-wrap overflow-ellipsis flex justify-between items-center" id="{{ section.title }}-tab"
            data-tabs-target="#section-{{ section.id }}" type="button" role="tab" aria-controls="{{ section.title }}"
            aria-selected="false">
            {{ section.title }}
            <c-icon icon="check" class="w-6 h-6 inline text-green-800"></c-icon>
            {% comment %} {% if sectionWithStatus.status == 'completed' %}
              <c-icon icon="check" class="w-4 h-4 inline text-white bg-blue-700 rounded-full"></c-icon>
            {% elif sectionWithStatus.status == 'inProgress' %}
              <c-icon icon="minus" class="w-4 h-4 inline text-white bg-teal-700 rounded-full"></c-icon>
            {% else %}
              <c-icon icon="close" class="w-4 h-4 inline text-white bg-red-700 rounded-full"></c-icon>
            {% endif %} {% endcomment %}
          </button>
        </li>
        {% endfor %}
      </ul>
    </div>
  </c-slot>
  
  <div
    class="flex flex-col gap-4 items-center max-w-[900px] mx-auto"
  >

    <form method="post" enctype="{% block enctype %}application/x-www-form-urlencoded{% endblock %}" {% block form_action %}{% endblock %}
      class="w-full space-y-4 md:space-y-6">
        {% csrf_token %}
      
      <div id="tab-content">
        {% for section, fields in sections.items %}
        <div class="hidden py-4 rounded-lg bg-gray-50 flex flex-col gap-8"
          id="section-{{ section.id }}" role="tabpanel"
          aria-labelledby="{{ section.id }}{{ forloop.counter }}-tab">

          {% for field in fields.indicators %}
            {{ form|get_item:field.field_name }}
          {% endfor %}

          {% for subsection in fields.subsections %}
            {% for subsectionName, subsectionIndicators in subsection.items %}
              <h4 class="text-2xl font-bold">{{ subsectionName }}</h4>
              {% for field in subsectionIndicators %}
                {{ form|get_item:field.field_name }}
              {% endfor %}
            {% endfor %}

          {% endfor %}

          </fieldset>
        </div>
        {% endfor %}
      </div>
    
      {% if not readonly %}
      <div class="flex gap-4 min-w-[60%]">
        <c-button type="submit" name="action" value="save">
          {% translate 'Save' %}
        </c-button>
        <c-button type="submit" name="action" value="submit">
          {% translate 'Submit' %}
        </c-button>
      </div>
      {% endif %}
    </form>

  </div>
</c-default-layout>