{% load i18n static %}
{% load template_helpers %}


<c-default-layout pageTitle="{% translate 'Form' %}" :fixedHeader="True">

  <c-slot name="extra_js">
    {{ indicators|json_script:"indicators" }}
    {{ initial_values|json_script:"indicatorResults" }}
    {{ placeholders|json_script:"placeholders" }}
    {{ sections_data|json_script:"sections" }}
    <script src="{% static 'js/field.js' %}"></script>
    <script src="{% static 'js/section.js' %}"></script>
    <script src="{% static 'js/indicatorsStore.js' %}"></script>
    <script src="{% static 'js/surveyStore.js' %}"></script>
  </c-slot>

  <c-slot name="sidebar">
    <div class="sticky overflow-y-scroll mt-8 pl-4" style="height: calc(100vh - 80px - 2rem); top: calc(80px + 2rem);">
      <ul
        class="w-[clamp(10rem,18rem,25vw)] flex flex-col flex-no-wrap gap-4 overflow-x-scroll -mb-px text-sm font-medium text-center mx-auto"
        id="survey-tabs" data-tabs-toggle="#tab-content" role="tablist" x-data="{
          getLiClass(id) {
              if ($store.survey.currentSection == id) {
                  return '!border-blue-600'
              } else if ($store.survey.sections[id].touched && $store.survey.sections[id].isValid) {
                  return '!border-green-600'
              } else if ($store.survey.sections[id].touched && !$store.survey.sections[id].isValid) {
                  return '!border-orange-600'
              }
          },
          getBtnClass(id) {
              if ($store.survey.currentSection == id) {
                  return '!bg-blue-50 !text-blue-600'
              } else if ($store.survey.sections[id].touched && $store.survey.sections[id].isValid) {
                  return '!bg-green-50 !text-green-800'
              } else if ($store.survey.sections[id].touched && !$store.survey.sections[id].isValid) {
                  return '!bg-orange-50 !text-orange-800'
              }
          },
          showCurrent(id) {
            return $store.survey.currentSection == id
          },
          showCheck(id) {
            return !($store.survey.currentSection == id) && $store.survey.sections[id].touched && $store.survey.sections[id].isValid
          },
          showPending(id) {
            return $store.survey.sections[id].touched && !($store.survey.currentSection == id) && !$store.survey.sections[id].isValid
          },
        }">
        {% for section, fields in sections.items %}
        <li class="w-full border border-gray-300 rounded-lg overflow-hidden" :class="getLiClass('{{section.id}}')"
          role="presentation">
          <button class="w-full py-4 px-8 white-space-no-wrap overflow-ellipsis flex justify-between items-center"
            id="tab-{{ section.id }}" :class="getBtnClass('{{section.id}}')"
            data-tabs-target="#section-{{ section.id }}" type="button" role="tab" aria-controls="{{ section.title }}"
            aria-selected="false" x-data @click="$store.survey.setSection('{{section.id}}')">
            {{ section.title }}
            <c-icon x-show="showCurrent('{{section.id}}')" name="arrow-right"
              class="w-6 h-6 inline text-blue-600"></c-icon>
            <c-icon x-show="showCheck('{{section.id}}')" name="check" class="w-6 h-6 inline text-green-800"></c-icon>
            <c-icon x-show="showPending('{{section.id}}')" name="close"
              class="w-6 h-6 inline text-orange-800"></c-icon>
          </button>
        </li>
        {% endfor %}
      </ul>
    </div>
  </c-slot>

  <div class="flex flex-col gap-4 items-center max-w-[900px] mx-auto">
    <form method="post" enctype="{% block enctype %}application/x-www-form-urlencoded{% endblock %}" 
    {% block form_action %}{% endblock %} class="w-full space-y-4 md:space-y-6">
      {% csrf_token %}
      <input type="text" class="hidden" name="campaign_id" value="{{campaign_id}}">

      <div id="tab-content">
        {% for section, items in sections.items %}
        <c-methods.section :section="section" :items="items"></c-methods.section>
        {% endfor %}
      </div>

      {% if not readonly %}
      <div class="flex gap-4 space-between min-w-[60%]">
        <div x-data x-show="$store.survey.prevSection != ''">
          <c-button class="overflow-ellipsis bg-transparent !text-blue-600 hover:!border-blue-700 hover:!text-white"
            id="prev-section-btn" @click="$store.survey.gotToPrevSection()">
            <c-icon name="arrow-right" class="w-6 h-6 inline rotate-z-180 me-1"></c-icon>
            <span x-text="$store.survey.prevSection"></span>
          </c-button>
        </div>
        <c-button
          class="ms-auto bg-white !text-blue-600 !border-blue-600 border hover:!border-blue-700 hover:!text-white"
          type="submit" name="action" value="save">
          {% translate 'Save' %}
        </c-button>
        <c-button name="action" value="submit" type="submit" data-modal-target="survey-errors-modal" @click="$store.survey.onSubmit($event)">
          {% translate 'Submit' %}
        </c-button>
      </div>
      {% endif %}
    </form>

    <c-modals.base-modal 
        x-data="{ titleDetails: '{{method.name}}' }" id="survey-errors-modal" 
        @show-modal.window="FlowbiteInstances.getAllInstances().Modal['survey-errors-modal'].show()" 
        @hide-modal.window="FlowbiteInstances.getAllInstances().Modal['survey-errors-modal'].hide()"
        height="98vh"
    >
        <c-slot name="title">
            <c-icon name="info-circle"></c-icon>
            <span class="font-bold"> {% trans "Balance errors" %}</span>
            <span x-text="' | ' + titleDetails"></span>
        </c-slot>

        <template x-for="section in $store.survey.validatedSections">
          <div>
            <h3 class="font-bold text-md mb-4" x-text="section.title"></h3>
            <ul class="rounded-lg  border border-gray-200 shadow-sm">
              <template x-for="invalidIndicator in section.invalidIndicators">
                <li class="flex space-x-2 even:bg-gray-100 odd:bg-white cursor-pointer"
                  @click="$store.survey.goToField(invalidIndicator.code,section.id)"
                >
                  <div class="p-4" x-text="invalidIndicator.code"></div>
                  <div class="p-4 grow" x-html="invalidIndicator.name"></div>
                  <div class="p-4">
                    <c-icon name="close" class="text-red-600"></c-icon>
                  </div>
                </li>
              </template>
            </ul>
          </div>
        </template>
    </c-modals.base-modal>
  </div>
</c-default-layout>