{% load i18n static %}
{% load template_helpers %}


<c-default-layout pageTitle={% translate 'Home' %}>

  <div class="flex flex-col gap-4 items-center max-w-[900px] mx-auto">
    <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
      {{ method_name }}
    </h1>

    <form method="post" enctype="{% block enctype %}application/x-www-form-urlencoded{% endblock %}" {% block
      form_action %}{% endblock %} class="w-full space-y-4 md:space-y-6">
      {% csrf_token %}

      <div class="mb-4 border-b border-gray-200">
        <ul class="flex flex-no-wrap overflow-x-scroll -mb-px text-sm font-medium text-center mx-auto" id="default-tab"
          data-tabs-toggle="#default-tab-content" role="tablist">
          {% for section, fields in sections.items %}
          {% comment %}
          {{ forloop.counter }} is added in case there are multiple tabs whith the same title
          {% endcomment %}
          <li class="me-2" role="presentation">
            <button class="inline-block p-4 border-b-2 rounded-t-lg white-space-no-wrap overflow-ellipsis"
              id="{{ section.title|stripe_whitespaces }}{{ forloop.counter }}-tab"
              data-tabs-target="#{{ section.title|stripe_whitespaces }}{{ forloop.counter }}" type="button" role="tab"
              aria-controls="{{ section.title|stripe_whitespaces }}{{ forloop.counter }}" aria-selected="false">{{
              section.title }} </button>
          </li>
          {% endfor %}
        </ul>
      </div>

      <div id="default-tab-content">
        {% for section, fields in sections.items %}
        <div class="hidden py-4 rounded-lg bg-gray-50 flex flex-col gap-8"
          id="{{ section.title|stripe_whitespaces }}{{ forloop.counter }}" role="tabpanel"
          aria-labelledby="{{ section.title|stripe_whitespaces }}{{ forloop.counter }}-tab">

          {% for field in fields.indicators %}
          {{ form|get_item:field.field_name }}
          {% endfor %}

          {% for subsection in fields.subsections %}
          {% for subsectionName, subsectionIndicators in subsection.items %}
          <h4 class="text-2xl font-bold">{{ subsectionName }}</h4>
          {% for field in subsectionIndicators %}
          {{ form|get_item:field.field_name }}
          {% endfor %}
          {% endfor %}

          {% endfor %}

          </fieldset>
        </div>
        {% endfor %}
      </div>




      {% if not readonly %}
      <div class="flex gap-4 min-w-[60%]">
        <c-button type="submit" name="action" value="save">
          {% translate 'Save' %}
        </c-button>
        <c-button type="submit" name="action" value="submit">
          {% translate 'Submit' %}
        </c-button>
      </div>
      {% endif %}
    </form>




  </div>
</c-default-layout>