<p>Hemos recibido vuestra solicitud de acceso al módulo de balance/auditoría social con la siguiente información:</p>

<p>Nombre de la entidad: {{organization.name}}</p>
<p>NIF de la entidad: {{organization.vat_number}}</p>
<p>Forma jurídica: {{organization.legal_structure}}</p>
<p>Teléfono de contacto: {{user.profile.telephone}}</p>
<p>Correo de contacto: {{user.email}}</p>
<p>Dirección web de la entidad: {{organization.website}} </p>

<p>Cuando la hayamos gestionado recibiréis un correo informativo de como acceder a la plataforma.</p>

<p>Si tenéis cualquier duda o comentario podéis contactar con nosotras respondiendo este mismo correo.</p>

<p>Un saludo.</p>

