{% load post_office %}

<p>Enhorabuena {{user_name}},</p>
<p>Su solicitud de alta en el registro de la plataforma Enseña el corazón ha sido aceptada.</p>

<p>Para acceder a la aplicación y poder realizar cualquiera de los módulos, le facilitamos sus credenciales de acceso:</p>
<p>Usuario: {{user_email}}</p>
<p>Contraseña: debe crearse en el siguiente enlace <a href="{{password_reset_url}}">{{password_reset_url}}</a></p>

<p>Recuerde utilizar una contraseña segura y que incluya una combinación de letras mayúsculas, minúsculas, números y caracteres especiales.</p>

<p>A continuación, podrá entrar con sus credenciales aquí: <a href="{{absolute_url}}">{{absolute_url}}</a></p>