{% load i18n %}

<c-default-layout pageTitle={% translate 'Home' %}>

  <div class="flex flex-col gap-8 items-center max-w-[900px] mx-auto">

    <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl">
      {% translate 'Hola' %} {{ organization.name }}
    </h1>


    <div class="flex block gap-4 w-full p-6 bg-white border border-gray-200 rounded-lg shadow-sm">
      <figure><img src="{{ user.image }}" alt="{% translate 'User image' %}"></figure>
      <div class="flex flex-col flex-grow">
        <h4 class="text-2xl font-bold">{{ organization.name }}</h4>
        <p><strong>{% translate 'NIF' %}</strong> {{ organization.vat_number }}</p>
        <p><strong>{% translate 'Email' %}</strong> {{ user.email }}</p>
      </div>
      {% if organization %}
      <div class="flex">
        <a class="h-fit-content" href="{% url 'organizations:update' organization.id %}">
          <button
            class="text-gray-900 bg-white border border-gray-300 cursor-pointer focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5">
            <c-icon icon="adjustments-horizontal" class="inline"></c-icons>
              <span>{% translate 'Modificar datos entidad'%}</span>
          </button>
        </a>
      </div>
      {% endif %}
    </div>

    {% if organization %}
    {% if organization_accepted %}
    <h5 class="text-xl font-bold">{% translate 'Balances pendientes' %}</h5>
    <div class="w-full grid grid-cols-2 gap-4">
      {% for survey_stats in current_surveys_stats %}
      <c-card.survey-stats :surveyStats="survey_stats"></c-card.survey-stats>
      {% endfor %}
    </div>
    {% else %}
    {% translate 'Your organization has not yet been accepted. You must wait until it is accepted before you can answer
    the surveys.' %}
    {% endif %}
    {% else %}
    {% translate "You are not assigned to any organization. Please contact an admin" %}
    {% endif %}
  </div>
</c-default-layout>