{% load i18n static%}

<div x-data="field('{{widget.attrs.code}}')" :id="`field-${id}`" class="flex flex-col" x-show="show" x-transition
    x-transition.delay.200ms>

    <div class="flex gap-4 mb-1">
        <label :for="`question_${id}`" class="block mb-2 text-md font-medium text-gray-900">
            <span class="mr-3 px-2 py-1 text-xs font-bold rounded-sm bg-pink-100" x-text="code"></span>
            <span x-text="name"></span>
        </label>
        {% comment %} Here we use the widget object to fill data into Cotton fields since Alpine and Cotton would clash
        in the use of dynamic fields {% endcomment %}
        {% if widget.attrs.description %}
        <c-help-drawer msg="{{widget.attrs.description}}" id="{{widget.attrs.id}}"></c-help-drawer>
        {% endif %}
    </div>

    {{ slot }}

</div>