{% load i18n %}

<c-forms.base-field>
    <label :for="`question_${id}_yes`" class="inline-flex items-center cursor-pointer mr-4 group"
        @click="update($event.target.value)" x-bind:disabled="notApplicable">
        <input type="radio" :id="`question_${id}_yes`" :name="`question_${id}`" value="True" :checked="value == 'True'"
            class="h-4 w-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 group-disabled:bg-gray-100 group-disabled:pointer-events-none"
            {% include "django/forms/widgets/attrs.html" %} x-bind:disabled="notApplicable" x-model="value"
            x-effect="if (notApplicable) {update(null) }">
        <span class="ml-2 text-sm text-gray-700 disabled:cursor-default" x-bind:disabled="notApplicable">{% translate
            'Yes' %}</span>
    </label>
    <label :for="`question_${id}_no`" class="inline-flex items-center cursor-pointer mr-4 group"
        @click="update($event.target.value)" x-bind:disabled="notApplicable">
        <input type="radio" :id="`question_${id}_no`" :name="`question_${id}`" value="False" :checked="value == 'False'"
            class="h-4 w-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 group-disabled:bg-gray-100 group-disabled:pointer-events-none"
            {% include "django/forms/widgets/attrs.html" %} x-bind:disabled="notApplicable" x-model="value"
            x-effect="if (notApplicable) {update(null) }">
        <span class="ml-2 text-sm text-gray-700 ">{% translate 'No'
            %}</span>
    </label>
</c-forms.base-field>