{% extends "./base_field.html" %}

{% block custom_field %}
<label class="inline-flex items-center cursor-pointer">
    <input type="checkbox" id="{{ widget.name }}" name="{{ widget.name }}" value="true" class="h-4 w-4 text-blue-600 bg-gray-100 border-gray-300 rounded
               focus:ring-blue-500" {% if widget.value %}checked{% endif %} {% if widget.required %}required{% endif %}
        {% include "django/forms/widgets/attrs.html" %}>
    <span class="ml-2 text-sm text-gray-700">
        {{ widget.attrs.label|default:"" }}
    </span>
</label>
{% endblock custom_field %}