{% load i18n %}

<c-forms.base-field>
    <div class="flex flex-col space-y-2 pl-4">
        {# Django renders each option as a tuple (value, label) inside optgroups #}
        {% for group_name, options, index in widget.optgroups %}
        {% for option in options %}

        <label :for="`question_${id}_option_{{index}}`"
            class="inline-flex items-center cursor-pointer has-disabled:cursor-default has-disabled:pointer-events-none"
            @click="update($event.target.value)">
            <input type="checkbox" :id="`question_${id}_option_{{index}}`" :name="`question_${id}`"
                value="{{ option.value.value }}" class="h-4 w-4 text-pink-600 bg-gray-100 border-gray-300 rounded cursor-pointer
                        focus:ring-blue-500 disabled:cursor-default peer"
                :checked="value && value.includes(String({{ option.value.value }}))" {%
                include "django/forms/widgets/attrs.html" %} x-bind:disabled="notApplicable" x-model="value"
                x-effect="if (notApplicable) {update([]) }">
            <span class="ml-2 text-sm text-gray-700 peer-disabled:text-gray-400 peer-disabled:cursor-default">
                {{ option.label }} <span class="items-center" x-text="unit"></span>
            </span>
        </label>
        {% endfor %}
        {% endfor %}
    </div>
</c-forms.base-field>