<c-forms.base-field>
    <select id="{{id}}" name="{{name}}"
        class="bg-gray-50 cursor-pointer border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full max-w-100 p-2.5"
        {% include "django/forms/widgets/attrs.html" %}>
        
        {% if showEmptyOption %}
            <option value="">{% if showLabel %}{{label}} {% endif %}</option>
        {% endif %}

        {% for option in options %}
        <option value="{{ option.id }}" {% if option.id|stringformat:"s" == optionSelected|stringformat:"s" %}selected{% endif %}>
            {{ option.name }}
        </option>
        {% endfor %}
    </select>
</c-forms.base-field>