{% load i18n %}

<c-forms.base-field>
    <div class="flex space-x-4">
        <div class="flex flex-col space-y-2">
            <p>Mujeres</p>
            <input :id="`question_${id}_female`"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full max-w-100 p-2.5 disabled:bg-gray-100 disabled:pointer-events-none"
                :name="`question_${id}_female`" :value="value.female" type="number" {% comment %}
                :placeholder="placeholder.female" {% endcomment %} {% include "django/forms/widgets/attrs.html" %}
                @blur="update($event.target.value,'female')" :step="type == 'decimal' ? 0.1 : 1"
                x-bind:disabled="notApplicable" x-model="value.female"
                x-effect="if (notApplicable) {update(null,'female') }" />
        </div>
        <div class="flex flex-col space-y-2">
            <p>Hombres</p>
            <input :id="`question_${id}_male`"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full max-w-100 p-2.5 disabled:bg-gray-100 disabled:pointer-events-none"
                :name="`question_${id}_male`" :value="value.male" type="number" {% comment %}
                :placeholder="placeholder.male" {% endcomment %} {% include "django/forms/widgets/attrs.html" %}
                @blur="update($event.target.value,'male')" :step="type == 'decimal' ? 0.1 : 1"
                x-bind:disabled="notApplicable" x-model="value.male"
                x-effect="if (notApplicable) {update(null,'male') }" />
        </div>

        <div class="flex flex-col space-y-2">
            <p>No binarias</p>
            <input :id="`question_${id}_nonBinary`"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full max-w-100 p-2.5 disabled:bg-gray-100 disabled:pointer-events-none"
                :name="`question_${id}_non_binary`" :value="value.nonBinary" type="number" {% comment %}
                :placeholder="placeholder.nonBinary" {% endcomment %} {% include "django/forms/widgets/attrs.html" %}
                @blur="update($event.target.value,'nonBinary')" :step="type == 'decimal' ? 0.1 : 1"
                x-bind:disabled="notApplicable" x-model="value.nonBinary"
                x-effect="if (notApplicable) {update(null, 'nonBinary') }" />
        </div>

        <div class="flex items-center" style="margin-top: 3.5%;">
            <div x-text="unit"></div>
        </div>
    </div>
</c-forms.base-field>