{% load i18n %}

<div
    class="bg-white border border-base-200 flex flex-row items-center px-3 rounded-default relative shadow-xs w-full focus-within:outline-2 focus-within:-outline-offset-2 focus-within:outline-primary-600">
    <button type="submit" class="flex items-center focus:outline-hidden cursor-pointer">
        <span class="material-symbols-outlined md-18 text-base-400">
            {% trans 'search' %}
        </span>
    </button>
    <input 
        type="text" name="{{name}}" value="{{ value }}" id="id" placeholder="{{ placeholder }}"
        class="grow font-medium min-w-0 overflow-hidden p-2 placeholder-font-subtle-light truncate focus:outline-hidden"
    >
</div>