<p>We have received your request to access the platform with the following information:</p>

<p>Organization name: {{organization.name}}</p>
<p>VAT: {{organization.vat_number}}</p>
<p>Legal structure: {{organization.legal_structure}}</p>
<p>Telephone: {{user.profile.telephone}}</p>
<p>Email: {{user.email}}</p>
<p>Website: {{organization.website}} </p>

<p>Once we have processed your request, you will receive an email explaining how to access the platform.</p>

<p>If you have any question, you can contact us answering this email.</p>

<p>Best regards.</p>

