<p>Dear {{user_name}},</p>


<p>The {{method_name}} Committee has now technically validated the data 
in your balance. Now that we have verified that the data is correct and there are no inconsistencies,
 we will proceed to validate the criteria using a detailed assessment system to check that your organisation 
complies with the ethical standards of the social and solidarity economy.</p>

<p>Your data is now available in an editable format in the DOCUMENTS section
 of your management area (in the top-left corner of the screen).</p>