<p>Dear {{user_name}},</p>


<p>The {{method_name}} Committee has now validated your report and we are pleased to inform you that your organisation 
complies with the ethical standards of the social and solidarity economy.</p>

<p>Your results report is now available as a PDF, and your seal
    can be found in the DOCUMENTS section (top left of the home screen, once you have logged in with your username and password).</p>
 
<p>We encourage you to show your heart! Publish and share them as a demonstration of transparency.</p>