{% load i18n %}

<c-default-layout pageTitle={% translate 'Password reset' %}>
  <main class="grid grid-cols-1 gap-4 p-16 max-w-[40rem] m-auto">
    <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl">
      {% translate "Password reset" %}
    </h1>

    <c-base-form>

      <c-slot name="fields">
        {{ form }}
      </c-slot>
      
      <c-slot name="submit">
        <c-button type="submit" name="action" value="submit">
          {% translate 'Submit' %}
        </c-button>
      </c-slot>

    </c-base-form>

  </main>
</c-default-layout>