{% load i18n %}

<c-base>
    <div class="p-2">
        <c-header></c-header>
    </div>
    <div class="grid grid-cols-2 gap-[48px] p-16">
        <div class="h-auto">
            <div class="w-full bg-white rounded-lg shadow
                sm:max-w-lg
                md:mt-0
                xl:p-0">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <c-form-errors></c-form-errors>

                <form method="post" enctype="{% block enctype %}application/x-www-form-urlencoded{% endblock %}" {% block form_action %}{% endblock %}
                class="space-y-4 md:space-y-6">
                    {% csrf_token %}

                    {{ form }}

                    {% if not form.fields.field_text_1.disabled %}
                        <input type="submit"
                        class="w-full px-5 py-2.5 rounded-lg bg-primary-600 text-white font-bold text-sm text-center cursor-pointer
                            hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300"
                        value="{% block submit_text %}{% translate 'Save' %}{% endblock %}" id="id_submit">
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
</c-base>