{% load i18n %}

<c-methods.group-base-field>
    <div class="flex w-fit p-2 border border-gray-300 rounded-lg bg-gray-100">
        <table>
            <thead class="hidden">
                <tr>
                    <th class="h-full p-2" x-text="groupTitle"></th>
                    <th class="h-full p-2">{% blocktrans %}Amount{% endblocktrans %}</th>
                </tr>
            </thead>
            <tbody>
                <template x-for="item in groupItems" :key="item.suffix">
                    <tr>
                        <td class="p-2">
                            <label :for="`question_${id}_${item.suffix}`" x-text="item.title"></label>
                        </td>
                        <td class="p-2">
                            <div class="flex gap-2 justify-center">
                                <input :id="`question_${id}_${item.suffix}`"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full max-w-100 p-2.5 pointer-events-auto disabled:bg-gray-100 disabled:pointer-events-none"
                                    :name="`question_${id}_${item.suffix}`" :value="value[item.suffix]" type="{{ widget.type}}" placeholder="{{placeholder}}" {%
                                    include "django/forms/widgets/attrs.html" %} @blur="update($event.target.value, item.suffix)"
                                    x-bind:disabled="notApplicable" x-model="value[item.suffix]" />
                                <span class="flex items-center" x-show="unit != ''" x-text="unit"></span>
                            </div>
                            <div class="text-red-600" x-show="hasErrors">
                                <p x-text="error"></p>
                            </div>
                        </td>
                    </tr>
                </template>
            </tbody>
        </table>
    </div>

       
</c-methods.group-base-field>