{% load i18n %}

<c-methods.base-field>
    <div class="flex gap-4">
        <input :id="`question_${instanceId}`"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full max-w-100 p-2.5 pointer-events-auto disabled:bg-gray-100 disabled:pointer-events-none"
            :class="{
                    'bg-gray-100 cursor-default pointer-events-none': !isDirectIndicator,
                    'border-red-600': state.hasErrors
                }"
            :name="`question_${instanceId}`" :value="state.value" :type="isDirectIndicator ? '{{ widget.type}}' : 'text'" placeholder="{{ widget.attrs.placeholder }}"  
            {% include "django/forms/widgets/attrs.html" %} @blur="update($event.target.value)"
            x-bind:disabled="state.notApplicable" :readonly="!isDirectIndicator" x-model="state.value" />
        <span class="flex items-center" x-text="unit"></span>
    </div>
    <div class="text-red-600" x-show="state.hasErrors">
        <p x-text="state.error"></p>
    </div>
</c-methods.base-field>