<div class="hidden py-4 rounded-lg flex flex-col gap-8" 
    x-data="section('{{ section.title|escapejs }}')" id="section-{{ section.id }}" 
    @section-valid="$event.stopPropagation(); validateSection()"
    @indicator-valid="validateSection()"
    @add-instance="addInstanceIds($event.detail.setId, $event.detail.instanceNumber)"
    @remove-instance="removeInstanceIds($event.detail.setId, $event.detail.instanceNumber); validateSection()"
    role="tabpanel" aria-labelledby="{{ section.id }}-tab"
>
    <h2 class="text-3xl font-bold -mb-2" x-text="title"></h2>
    <template x-if="description != ''">
        <div class="-mt-2 -mb-4 section-description" x-html="description"></div>
    </template>

    {% for indicator in items.indicators %}
    {{ indicator.field }}
    {% endfor %}

    {% for indicators_set_dict in items.indicators_sets %}
    <c-card.indicators-set>
        {% for set_name, indicators_set in indicators_set_dict.items %}
        {% for indicator in indicators_set.indicators %}
        {{ indicator.field }}
        {% endfor %}
        {% endfor %}
    </c-card.indicators-set>
    {% endfor %}

    {% for subsection, subsection_data in items.subsections.items %}
    <c-methods.subsection :subsection=subsection :indicators='subsection_data.indicators' :indicators-sets='subsection_data.indicators_sets'></c-methods.subsection>
    {% endfor %}
</div>

