<div class="hidden py-4 rounded-lg flex flex-col gap-8" 
    x-data="section('{{ section.title }}')" id="section-{{ section.id }}" 
    @section-valid="$event.stopPropagation(); validateSection()"
    @indicator-valid="validateSection()"
    role="tabpanel" aria-labelledby="{{ section.id }}-tab"
>
    <h2 class="text-3xl font-bold -mb-2" x-text="title"></h2>
    <template x-if="description != ''">
        <div class="-mt-2 -mb-4" x-html="description"></div>
    </template>

    {% for indicator in items.indicators %}
    {{ indicator.field }}
    {% endfor %}

    {% for subsectionObj in items.subsections %}
    {% for subsection, subsectionIndicators in subsectionObj.items %}
    <c-methods.subsection :subsection=subsection :indicators="subsectionIndicators"></c-methods.subsection>
    {% endfor %}
    {% endfor %}
</div>

