<div class="flex flex-col gap-8" id="section-{{ subsection.id }}" 
    x-data="section('{{ subsection.title|escapejs }}')" x-show="state.show"
    @indicator-visible="updateVisibility()"
    @indicator-valid="$event.stopPropagation(); validateSection()"
>
    <h4 class="text-2xl font-bold -mb-4" x-text="title"></h4>
    <template x-if="description != ''">
        <div class="-mt-2 -mb-4 section-description" x-html="description"></div>
    </template>

    {% for indicator in indicators %}
    {{ indicator.field }}
    {% endfor %}
    
    {% for indicators_set_dict in indicators_sets %}
    <c-card.indicators-set>
        {% for set_name, indicators_set in indicators_set_dict.items %}
        {% for indicator in indicators_set.indicators %}
        {{ indicator.field }}
        {% endfor %}
        {% endfor %}
    </c-card.indicators-set>
    {% endfor %}

</div>

