{% load post_office %}

<p>Hola {{user_name}}!</p>
<p>T'enviem aquest correu electrònic perquè avui {{date}} a les {{time}}
    has sol·licitat verificar el teu correu electrònic {{user_email}}
    per a {{absolute_url}}.</p>
<p>Per completar aquesta acció, introduïu el codi <strong>{{user_code}}</strong>
    a la pantalla de verificació del correu que encara deus tenir oberta o,
    si l'has tancat, aquí tens l'enllaç directe:
<a href="{{email_verification_url}}">{{email_verification_url}}</a>
</p>
<p>Si no has estat tu qui ho ha demanat, ignora aquest missatge.</p>