{% load post_office %}

<p>Hola {{user_name}}!</p>
<p>T'enviem aquest correu perquè avui {{date}} a les {{time}}
algú ha sol·licitat el reinici de la contrasenya del compte {{user_email}}
de l'aplicació {{absolute_url}}.</p>

<p>Si no has estat tu qui ho ha demanat, ignora aquest missatge.
Si segueixes revent correus com aquest múltiples vegades, podria ser que algú
estigui intentant accedir al teu compte. Assegura't de posar una contrasenya
ben llarga i t'agrairem que ens informis de la situació.
</p>

<h3>Instruccions pel reinici de la contrasenya</h3>
<p>Per establir una nova contrasenya obre aquest enllaç:
<a href="{{password_reset_url}}">{{password_reset_url}}</a>
</p>