{% load i18n admin_urls static  %}

<c-admin.default-layout bodyclass="dark:bg-base-900">
    <div class="flex flex-col space-y-4">
        <h2 class="text-4xl font-extrabold">
            {% trans "Hi" %} {{user.name}}
        </h2>
        <p>{% trans "Este es tu espacio de bienvenida. <br> Aquí tienes un breve recordatorio de tareas por completar." %}</p>
        <div class="flex space-x-4">
            <c-card class="min-w-[350px]">
                <h5 class="mb-2 inline-flex items-center text-lg tracking-tight text-gray-500">
                    <c-icon name="group" class="me-2 text-pink-600 text-xl"></c-icon>
                    {% trans "ENTITIES" %}
                </h5>
                <p class="mb-3 font-normal text-gray-700">{% blocktrans %} Tienes {{pending_registrations_requests}} nuevas peticiones de alta.{% endblocktrans %}</p>
                <a href="{% url 'gov_admin:registration_requests' %}" class="ms-auto inline-flex text-sm font-medium text-center text-blue-700 rounded-lg hover:underline hover:decoration-1 focus:ring-4 focus:outline-none focus:ring-blue-300">
                    {% trans "Gestionar altas" %}
                   <c-icon name="arrow-right" class="ms-2 text-xl"></c-icon>
                </a>
            </c-card>
            <c-card class="min-w-[350px]">
                <h5 class="mb-2 inline-flex items-center text-lg tracking-tight text-gray-500e">
                    <c-icon name="clipboard-list" class="me-2 text-pink-600 text-xl"></c-icon>
                    {% trans "FEATURES" %}
                </h5>
                <p class="mb-3 font-normal text-gray-700">{% trans "82 entidades han finalizado su balance." %}</p>
                <a href="#" class="ms-auto inline-flex text-sm font-medium text-center text-blue-700 rounded-lg hover:underline hover:decoration-1 focus:ring-4 focus:outline-none focus:ring-blue-300">
                    {% trans "Revisar balances" %}
                    <c-icon name="arrow-right" class="ms-2 text-xl"></c-icon>
                </a>
            </c-card>
        </div>
    </div>
</c-admin.default-layout>