{% load i18n static %}

{% get_current_language as LANG %}

<c-default-layout>
    <c-slot name="extra_header"> 
        <c-navbar/>
    </c-slot>
    <div class="flex flex-col gap-8 items-center max-w-4xl mx-auto pt-16 px-4">
        <h1 class="text-3xl font-bold">{% translate "Documents" %}</h1>

        <!-- Responsive wrapper -->
        <div class="w-full overflow-x-auto rounded-xl shadow">
            <table class="w-full text-left border-collapse">
                <!-- Pink header -->
                <thead class="bg-pink-600">
                    <tr>
                        <th class="px-4 py-3 font-semibold text-white">
                            <p class="flex justify-center items-center">{% translate "Campaigns" %}</p>
                        </th>

                        {% for survey_name in survey_names %}
                        <th class="px-4 py-3 font-semibold whitespace-nowrap text-white">
                            <p class="flex justify-center items-center">{{ survey_name }}</p>
                        </th>
                        {% endfor %}

                    </tr>
                </thead>

                <tbody>
                    {% for row in table_rows %}
                    <tr class="{% cycle 'bg-white' 'bg-gray-50' %} hover:bg-gray-100 transition">
                        <td class="px-4 py-3 font-medium">
                            <p class="flex justify-center items-center">{{ row.campaign.name }}</p>
                        </td>

                        {% for survey in row.cells %}
                            <td class="px-4 py-3 text-gray-700">
                                {% if survey %}
                                    <div class="flex items-center justify-center">
                                        <a href="https://show-your-heart-data.devs.coop/apidata/export-answers?campaign={{ row.campaign.id }}&method={{ survey.method.id }}&organization={{ organization.id }}&language={{LANG}}" target="_blank">
                                            <c-icon name="download" class="text-blue-600"></c-icon>
                                        </a>
                                        {% if survey.evaluated_date %}
                                        <a href="https://show-your-heart-data.devs.coop/sub/syhrespuestas?organization={{ organization.id }}&campaign={{ row.campaign.id }}&method={{ survey.method.id }}&language={{LANG}}" target="_blank">
                                            <c-icon name="pdf" class="text-blue-600"></c-icon>
                                        </a>
                                        {% comment %} hx-ext="htmx-download" is used to allow htmx to download and display the notification message {% endcomment %}
                                        {% comment %} if it's no added the file won't download {% endcomment %}
                                        <button
                                            hx-ext="htmx-download"
                                            hx-get="{% url 'organizations:download_stamp' organization.id organization.vat_number row.campaign.id survey.method.id %}"
                                            hx-swap="none"
                                            class="cursor-pointer"
                                        >
                                            <c-icon name="stamp" class="text-blue-600 inline"></c-icon>
                                        </button>
                                      
                                        {% endif %}
                                    </div>
                                {% else %}
                                    <p class="flex justify-center items-center">-</p>
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>
    </div>
</c-default-layout>

<script defer src="{% static 'js/htmx-download.js' %}"></script>