{% load i18n %}

<c-default-layout>
    <c-slot name="extra_header"> 
        <c-navbar/>
    </c-slot>
    <div class="flex flex-col gap-8 items-center max-w-4xl mx-auto pt-16 px-4">
        <h1 class="text-3xl font-bold">{% translate "Documents" %}</h1>

        <!-- Responsive wrapper -->
        <div class="w-full overflow-x-auto rounded-xl shadow">
            <table class="w-full text-left border-collapse">
                <!-- Pink header -->
                <thead class="bg-pink-600">
                    <tr>
                        <th class="px-4 py-3 font-semibold text-white">
                            <p class="flex justify-center items-center">{% translate "Campaigns" %}</p>
                        </th>

                        {% for method in methods %}
                        <th class="px-4 py-3 font-semibold whitespace-nowrap text-white">
                            <p class="flex justify-center items-center">{{ method.method__name }}</p>
                        </th>
                        {% endfor %}

                        <th class="px-4 py-3 font-semibold text-white">
                            <p class="flex justify-center items-center">{% translate "Infographics" %}</p>
                        </th>
                        <th class="px-4 py-3 font-semibold text-white">
                            <p class="flex justify-center items-center">{% translate "Stamps" %}</p>
                        </th>
                    </tr>
                </thead>

                <tbody>
                    {% for row in table_rows %}
                    <tr class="{% cycle 'bg-white' 'bg-gray-50' %} hover:bg-gray-100 transition">
                        <td class="px-4 py-3 font-medium">
                            <p class="flex justify-center items-center">{{ row.campaign.name }}</p>
                        </td>

                    {% for survey in row.cells %}
                        <td class="px-4 py-3 text-gray-700">
                        {% if survey %}
                            {% if survey.evaluated_date %}
                                <a href="https://show-your-heart-data.devs.coop/apidata/export-answers?campaign={{ row.campaign.id }}&method={{ survey.method.id }}&organization={{ organization.id }}" target="_blank" class="flex justify-center items-center">
                                    <c-icon name="download" class="text-blue-600"></c-icon>
                                </a>
                            {% else %}
                                <p class="flex justify-center items-center">-</p>
                            {% endif %}
                        {% else %}
                            <p class="flex justify-center items-center">-</p>
                        {% endif %}
                        </td>
                    {% endfor %}

                        <td class="px-4 py-3">
                        {% if row.has_evaluated %}
                            <a href="https://show-your-heart-data.devs.coop/sub/syhrespuestas?organization={{ organization.id }}&campaign={{ row.campaign.id }}" target="_blank" class="flex items-center justify-center">
                                <c-icon name="pdf" class="text-blue-600"></c-icon>
                            </a>
                        {% else %}
                            <p class="flex justify-center items-center">-</p>
                        {% endif %}
                        </td>
                        <td class="px-4 py-3">
                        {% if row.has_evaluated %}
                            <p class="flex justify-center items-center">Stamp WIP</p>
                        {% else %}
                            <p class="flex justify-center items-center">-</p>
                        {% endif %}   
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>
    </div>
</c-default-layout>
