{% load i18n %}

<c-default-layout>
    <c-slot name="extra_header"> 
        <c-navbar/>
    </c-slot>
    <div class="flex flex-col gap-4 items-center max-w-[600px] mx-auto pt-16">
        <h1 class="text-3xl font-bold">{% translate "Good Practices" %}</h1>
         <div>
            <p>
                {% blocktranslate trimmed %}
                    <p>This section is under construction. </p>
                    <p>The long-term aim is to share best practices from organisations, 
                    to promote the Social Balance as a tool for self-improvement.</p> 
                    <p>If you have any suggestions or would like to get involved, please write to bsocial@xes.cat or with the following link: https://xes.cat/la-xes/contacte?contacte=bs</p>
                {% endblocktranslate %}
            </p>
        </div>
    </div>
</c-default-layout>