{% load i18n %}

<c-default-layout>
    <c-slot name="extra_header"> 
        <c-navbar/>
    </c-slot>
    <div class="flex flex-col gap-4 items-center max-w-[600px] mx-auto pt-16">
        <h1 class="text-3xl font-bold">{% translate "What is Social Balance?" %}</h1>
        {% blocktranslate trimmed %}
            <p>The Social Balance is a tool for accountability and for measuring social, environmental and governance impact, 
            aimed at any economic initiative that considers itself socially responsible or that forms part of the  
            Social and Solidarity Economy. Organisations that takes this assessment can use the results to improve internally 
            and to promote the quality and well-being of the Solidarity Economy and the Social Market. It is supported by the  
            Ministerio de Trabajo y Economía Social of Spain.</p>

            <p>The Social Balance audits and assesses six key characteristics of any company or organisation wishing to be socially responsible, 
            in a rigorous, systematic, objective and periodic manner: economic performance and profit policy; 
            gender perspective; internal equity and democracy; environmental sustainability; social commitment and cooperation; and quality of work.</p>

            <p>If you are a solidarity economy network and want to participate and intercooperate to measure, improve and evaluate the impact of the solidarity economy, 
            do not hesitate to contact us by writing to bsocial@xes.cat or with the following link: https://xes.cat/la-xes/contacte?contacte=bs</p>
        {% endblocktranslate %}
    </div>
</c-default-layout>