{% load i18n static active_link_tags extra_settings django_htmx %}

<c-vars :fixedHeader="False">

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
  <link rel="apple-touch-icon" href="{% static 'images/favicon.ico' %}">
  <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
  <link rel="stylesheet" href="{% static 'styles/output.css' %}">
  <title> ShowYourHeart | {{ pageTitle }} </title>
  {% htmx_script %}
  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
  {{ extra_head_js }}
</head>

<body class="bg-gray-50 mx-auto relative" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
  <c-header displayAvatar="true" :fixedHeader="fixedHeader" />
  {{ extra_header}}
  
  <div class="flex gap-2 mt-0 py-0 px-2 items-stretch {% if fixedHeader %} mt-[80px] {% endif %}">
    <aside>
      {{ sidebar }}
    </aside>

    <main class="mx-auto w-full max-w-screen-lg p-4">
        {{ slot }}
    </main>
  </div>

  <script src="{% static 'js/notificationsStore.js' %}"></script>
    <div
        id="notifications" class="z-[99] fixed bottom-5 right-5 flex flex-col space-y-2"
        x-data
        class="fixed inset-0 flex flex-col-reverse items-end justify-end h-screen w-screen"
        @notification.window="$store.notifications.add($event.detail)"
        style="pointer-events:none"
    >
        <template x-for="notification of $store.notifications.notifications" :key="notification.id">
            <c-toasts.toast ::type="notification.type" ::color="notification.color" ::icon="notification.icon"></c-toast>
        </template>
    </div>

  <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
  {{ extra_js }}
</body>

</html>
