{% load i18n static language %}

{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}

<div>
    <button 
        id="dropdownDefaultButton" 
        data-dropdown-toggle="dropdown" 
        class="text-gray-600 uppercase
            bg-white focus:ring-1 focus:outline-none 
            focus:ring-blue-700 font-medium
            rounded-lg text-sm px-5 py-2.5 
            text-center inline-flex items-center 
            dark:bg-blue-600 dark:hover:bg-blue-700 
            dark:focus:ring-blue-800" 
        type="button"
    >
        {{ LANGUAGE_CODE }}
        <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
        </svg>
    </button>
        
    <!-- Dropdown menu -->
    <div id="dropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow-sm w-44 dark:bg-gray-700">
        <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
            {% for language in languages %}
                <li>
                    <a href="{% change_lang language.code %}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
                        {{ language.name_translated }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>