{% load i18n %}

<c-admin.default-layout>
    <h1 class="mb-2 text-black font-bold text-2xl">{% trans 'Balance review'%}</h1>
    <div class="mb-4 flex justify-between items-center">
        <h2 class="text-black text-lg">{% trans 'Simple balance'%}</h2>
        <c-button class="flex justify-center items-center gap-2" variant="outlined">
            <c-icon name="download"></c-icon>
            {% trans 'Download data' %}
        </c-button>
    </div>
    <form id="balance-filter" method="POST">
        {% csrf_token %}

        <h2 class=" text-black text-lg">{% trans 'FILTER BY'%}</h2>
        <select id="filter-campaign" name="campaign"
            class="bg-gray-50 cursor-pointer border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full max-w-100 p-2.5"
            {% include "django/forms/widgets/attrs.html" %}>
            {% for campaign in campaigns %}
            <option value="{{ campaign.id }}" selected="value && value.includes(String({{ campaign.id }}))">
                {{ campaign.name }} - {{ campaign.year }}
            </option>
            {% endfor %}
        </select>
        <select id="filter-region3" name="region3"
            class="bg-gray-50 cursor-pointer border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full max-w-100 p-2.5"
            {% include "django/forms/widgets/attrs.html" %}>
            {% for region in regions %}
            <option value="{{ region.id }}" selected="value && value.includes(String({{ region.id }}))">
                {{ region.name }}
            </option>
            {% endfor %}
        </select>
        <select id="filter-method" name="method"
            class="bg-gray-50 cursor-pointer border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full max-w-100 p-2.5"
            {% include "django/forms/widgets/attrs.html" %}>
            {% for method in methods %}
            <option value="{{ method.id }}" selected="value && value.includes(String({{ method.id }}))">
                {{ method.name }}
            </option>
            {% endfor %}
        </select>
        <select id="filter-status" name="status"
            class="bg-gray-50 cursor-pointer border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full max-w-100 p-2.5"
            {% include "django/forms/widgets/attrs.html" %}>
            {% for s in status %}
            <option value="{{ s.id }}" selected="value && value.includes(String({{ s.id }}))">
                {{ s.name }}
            </option>
            {% endfor %}
        </select>
        <select id="filter-unit-analysis" name="unit-analysis"
            class="bg-gray-50 cursor-pointer border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full max-w-100 p-2.5"
            {% include "django/forms/widgets/attrs.html" %}>
            {% for ua in unitanalysis %}
            <option value="{{ ua.id }}" selected="value && value.includes(String({{ ua.id }}))">
                {{ ua.name }}
            </option>
            {% endfor %}
        </select>
        <c-button type="submit" class="flex justify-center items-center gap-2" variant="filled">
            {% trans 'Filter' %}
        </c-button>
    </form>

    <form id="balance-search" method="get">
        <div
            class="mb-2 bg-white border border-base-200 flex flex-row items-center px-3 rounded-default relative shadow-xs w-full focus-within:outline-2 focus-within:-outline-offset-2 focus-within:outline-primary-600 lg:w-96 dark:bg-base-900 dark:border-base-700">
            <button type="submit" class="flex items-center focus:outline-hidden" id="nif-searchbar-submit">
                <span class="material-symbols-outlined md-18 text-base-400 dark:text-base-500">
                    {% trans 'search' %}
                </span>
            </button>
            <input type="text"
                class="grow font-medium min-w-0 overflow-hidden p-2 placeholder-font-subtle-light truncate focus:outline-hidden dark:bg-base-900 dark:placeholder-font-subtle-dark dark:text-font-default-dark"
                name="nif" value="{{ nif_filter }}" id="nif-searchbar" placeholder="{% trans 'NIF' %}">
        </div>
        <div
            class="mb-2 bg-white border border-base-200 flex flex-row items-center px-3 rounded-default relative shadow-xs w-full focus-within:outline-2 focus-within:-outline-offset-2 focus-within:outline-primary-600 lg:w-96 dark:bg-base-900 dark:border-base-700">
            <button type="submit" class="flex items-center focus:outline-hidden" id="name-searchbar-submit">
                <span class="material-symbols-outlined md-18 text-base-400 dark:text-base-500">
                    {% trans 'search' %}
                </span>
            </button>
            <input type="text"
                class="grow font-medium min-w-0 overflow-hidden p-2 placeholder-font-subtle-light truncate focus:outline-hidden dark:bg-base-900 dark:placeholder-font-subtle-dark dark:text-font-default-dark"
                name="name" value="{{ name_filter }}" id="name-searchbar" placeholder="{% trans 'Name' %}">
        </div>
    </form>
    <form>
        <div
            class="lg:rounded-default -mx-1 px-1 overflow-x-auto lg:border lg:border-base-200 lg:mx-0 lg:px-0 lg:shadow-xs">
            <table id="result_list" class="block border-base-200 border-spacing-none border-separate w-full lg:table">
                <thead>
                    <tr>
                        <c-table.header>
                            <input type="checkbox" name="action-toggle" id="action-toggle"
                                aria-label="Seleccione todos los objetos de esta página para una acción"
                                class="appearance-none bg-white block border border-base-300 cursor-pointer h-4 min-w-4 relative rounded-[4px] shadow-xs w-4 hover:border-base-400 focus:outline focus:outline-2 focus:outline-offset-2 focus:outline-primary-500 after:absolute after:content-['done'] after:flex! after:h-4 after:items-center after:justify-center after:leading-none after:material-symbols-outlined after:-ml-px after:-mt-px after:text-sm! after:text-white after:transition-all after:w-4 checked:bg-primary-600 checked:border-primary-600 checked:transition-all checked:hover:border-primary-600 ">
                            <span class="block font-normal lg:hidden">
                                {% trans 'Select all rows' %}
                            </span>
                        </c-table.header>
                        {% comment %} Download btn {% endcomment %}
                        <c-table.header></c-table.header>
                        {% comment %} Edit btn {% endcomment %}
                        <c-table.header></c-table.header>
                        {% comment %} Info btn {% endcomment %}
                        <c-table.header></c-table.header>
                        <c-table.header>
                            <a href="?o=1">
                                {% trans 'Status' %}
                            </a>
                        </c-table.header>
                        <c-table.header>
                            <a href="?o=1">
                                {% trans 'Answers' %}
                            </a>
                        </c-table.header>
                        <c-table.header>
                            <a href="?o=2">
                                {% trans 'NIF' %}
                            </a>
                        </c-table.header>
                        <c-table.header>
                            <a href="?o=2">
                                {% trans 'Name' %}
                            </a>
                        </c-table.header>
                        <c-table.header>
                            <a href="?o=2">
                                {% trans 'Contact' %}
                            </a>
                        </c-table.header>
                        <c-table.header>
                            <a href="?o=2">
                                {% trans 'External surveys' %}
                            </a>
                        </c-table.header>
                        <c-table.header>
                            <a href="?o=2">
                                {% trans 'Start date' %}
                            </a>
                        </c-table.header>
                        <c-table.header>
                            <a href="?o=2">
                                {% trans 'End date' %}
                            </a>
                        </c-table.header>

                    </tr>
                </thead>
                {% for survey in surveys %}
                {% comment %} <form action="" method="post"> {% endcomment %}
                    <tbody
                        class="block relative odd:bg-white even:bg-grey-200 lg:table-row-group lg:hover:shadow-raised lg:hover:z-20 "
                        x-data="{rowOpen: false}">
                        <tr
                            class="block border border-base-200 mb-3 relative rounded-default shadow-xs lg:table-row lg:border-none lg:mb-0 lg:rounded-none lg:shadow-none dark:border-base-800">
                            <c-table.data class="action-checkbox">
                                <input type="checkbox" name="_selected_action"
                                    value="ea3be194-ec2c-470f-ae54-2aeb3217d357"
                                    class="appearance-none bg-white block border border-base-300 cursor-pointer h-4 min-w-4 relative rounded-[4px] shadow-xs w-4 hover:border-base-400 dark:bg-base-700 dark:border-base-500 dark:checked:after:text-white focus:outline focus:outline-2 focus:outline-offset-2 focus:outline-primary-500 after:absolute after:content-['done'] after:flex! after:h-4 after:items-center after:justify-center after:leading-none after:material-symbols-outlined after:-ml-px after:-mt-px after:text-sm! after:text-white after:transition-all after:w-4 dark:after:text-base-700 checked:bg-primary-600 dark:checked:bg-primary-600 checked:border-primary-600 dark:checked:border-primary-600 checked:transition-all checked:hover:border-primary-600 action-select"
                                    aria-label="Select record">
                            </c-table.data>

                            <c-table.data class="field-download">
                                <c-button class="!p-0 bg-transparent flex justify-center hover:!bg-transparent">
                                    <c-icon name="download" class="text-blue-600"></c-icon>
                                </c-button>
                            </c-table.data>
                            <c-table.data class="field-edit !px-1">
                                <c-button class="!p-0 bg-transparent flex justify-center hover:!bg-transparent">
                                    <c-icon name="edit" class="text-blue-600"></c-icon>
                                </c-button>
                            </c-table.data>
                            <c-table.data class="field-info !px-1">
                                <c-button class="!p-0 bg-transparent flex justify-center hover:!bg-transparent">
                                    <c-icon name="info-circle" class="text-gray-500"></c-icon>
                                </c-button>
                            </c-table.data>
                            <c-table.data class="field-status">
                                {{ survey.status }}
                            </c-table.data>
                            <c-table.data class="field-answers">
                                <div class="flex flex-col gap-0">
                                    <div class="w-full bg-gray-200 rounded-full h-2">
                                        <div class="bg-pink-500 h-2 rounded-full"
                                            style="width:  {{ survey.totalProgress }}%"></div>
                                    </div>
                                </div>
                            </c-table.data>
                            <c-table.data class="field-nif">
                                {{survey.organization.vat_number}}
                            </c-table.data>
                            <c-table.data class="field-name">
                                {{survey.organization.name}}
                            </c-table.data>
                            <c-table.data class="field-contact">
                                {{survey.user}}
                            </c-table.data>
                            {% comment %}
                            <c-table.data class="field-external-surveys">
                                {% for method in survey.methods.all %}
                                <span
                                    class="inline-block text-center text-blue-600 bg-blue-100 rounded-lg px-3 py-1">{{method.name}}</span>
                                {% endfor %}
                            </c-table.data>
                            {% end comment %}
                            <c-table.data class="field-start-date">
                                {{survey.start_date}}
                            </c-table.data>
                            <c-table.data class="field-end-date">
                                {{survey.closed_date}}
                            </c-table.data>
                        </tr>
                    </tbody>
                    {% comment %}
                </form> {% endcomment %}

                {% endfor %}

            </table>
        </div>
    </form>
</c-admin.default-layout>