{% load i18n static %}
{% load template_helpers %}


{{ indicators|json_script:"indicators" }}
{{ initial_values|json_script:"indicatorResults" }}
{{ placeholders|json_script:"placeholders" }}
{{ sections_data|json_script:"sections" }}

<script>

  // Initialize all dynamically loaded components: https://stackoverflow.com/questions/76051980/flowbite-component-not-working-when-loaded-via-htmx-django-project
  htmx.onLoad(function(content) {
    initTabs()
  })

  // Initialize stores
  initIndicatorsStore()
  initSurveyStore()

  {% if validate_survey %}
    setTimeout(() => Alpine.store('survey').validateSurvey(), 100)
  {% endif %}
</script>

<div class="grid grid-cols-12 gap-4 w-full">
  <div class="col-span-3">
    <div class="pl-4 py-4">
      <ul
        class="min-w-[6rem] flex flex-col flex-no-wrap gap-4 overflow-x-scroll -mb-px text-sm font-medium text-center mx-auto"
        id="survey-tabs" data-tabs-toggle="#tab-content" role="tablist" x-data="{
          getLiClass(id) {
              if ($store.survey.currentSection == id) {
                  return '!border-blue-600'
              }
          },
          getBtnClass(id) {
              if ($store.survey.currentSection == id) {
                  return '!bg-blue-50 !text-blue-600'
              }
          },
        }">
        {% for section, fields in sections.items %}
        <li class="w-full border border-gray-300 rounded-lg overflow-hidden" :class="getLiClass('{{section.id}}')"
          role="presentation">
          <button class="w-full py-4 px-8 white-space-no-wrap overflow-ellipsis flex justify-between items-center"
            id="tab-{{ section.id }}" :class="getBtnClass('{{section.id}}')"
            data-tabs-target="#section-{{ section.id }}" type="button" role="tab" aria-controls="{{ section.title }}"
            aria-selected="false" x-data @click="$store.survey.setSection('{{section.id}}')">
            {{ section.title }}
          </button>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="col-span-9 flex flex-col gap-4 items-center w-full max-w-[900px] mx-auto px-4">
    <form 
      hx-post="{% url 'gov_admin:review_survey_actions' survey_id %}"
      hx-disabled-elt="button"
      class="w-full space-y-4 md:space-y-6"
      x-data
    >
      <div id="tab-content">
        {% for section, items in sections.items %}
        <c-methods.section :section="section" :items="items"></c-methods.section>
        {% endfor %}
      </div>

      {% if not readonly %}
      <div class="flex gap-4 space-between min-w-[60%]">
        <div x-data x-show="$store.survey.prevSection != ''">
          <c-button class="overflow-ellipsis bg-transparent !text-blue-600 hover:!border-blue-700 hover:!text-white"
            id="prev-section-btn" @click="$store.survey.gotToPrevSection()">
            <c-icon name="arrow-right" class="w-6 h-6 inline rotate-z-180 me-1"></c-icon>
            <span x-text="$store.survey.prevSection"></span>
          </c-button>
        </div>
      
        <c-button
          class="ms-auto bg-white !text-blue-600 !border-blue-600 border hover:!border-blue-700 hover:!text-white"
          type="submit" name="action" value="save">
          {% translate 'Save' %}
        </c-button>
        <c-button type="submit" name="action" value="submit" data-modal-target="survey-errors-modal" @click="$store.survey.onSubmit($event)">
          {% translate 'Submit' %}
        </c-button>
      </div>
      {% endif %}
    </div>
  </form>
</div>
