{% load i18n static %}

<c-admin.default-layout>

  <c-slot name="extra_js">
    <script src="{% static 'js/field.js' %}"></script>
    <script src="{% static 'js/surveyStore.js' %}"></script>
    <script src="{% static 'js/indicatorsStore.js' %}"></script>
  </c-slot>

    <h1 class="mb-2 text-black font-bold text-2xl">{% trans 'Balance review'%}</h1>
    <div class="mb-4 flex justify-between items-center">
        <h2 class="text-black text-lg">{% trans 'Simple balance'%}</h2>
        <c-button class="flex justify-center items-center gap-2" variant="outlined">
            <c-icon name="download"></c-icon>
            {% trans 'Download data' %}
        </c-button>
    </div>

    <form id="balance-filter" method="GET" class="flex flex-col space-y-2">
        <div class="flex space-x-2 items-center">
            <h2 class="min-w-[80px] uppercase font-bold text-gray-500 text-xs">{% trans 'Filter by'%}</h2>
            <c-forms.dropdown id="filter-campaign" name="campaign" label="{% trans 'Campaign' %}" :options="campaigns" :showEmptyOption="True" :showLabel="False" :optionSelected="campaign_filter"></c-forms.dropdown>
            <c-forms.dropdown id="filter-region" name="region3" label="{% trans 'Region' %}" :options="regions" :showEmptyOption="True" :showLabel="False" :optionSelected="region3_filter"></c-forms.dropdown>
            <c-forms.dropdown id="filter-method" name="method" label="{% trans 'Method' %}" :options="methods" :showEmptyOption="True" :showLabel="False" :optionSelected="method_filter"></c-forms.dropdown>
            <c-forms.dropdown id="filter-status" name="status" label="{% trans 'Status' %}" :options="status" :showEmptyOption="True" :showLabel="False" :optionSelected="status_filter"></c-forms.dropdown>
            <c-forms.dropdown id="filter-unitanalysis" name="unitanalysis" label="{% trans 'Unit of analysis' %}" :options="unitanalysis" :showEmptyOption="True" :showLabel="False" :optionSelected="unit_analysis_filter"></c-forms.dropdown>
        </div>
        <div class="flex space-x-2 items-center">
            <c-forms.text-field name="nif" value="{{ nif_filter }}" id="nif-searchbar" placeholder="{% trans 'NIF' %}"></c-forms.text-field>
            <c-forms.text-field name="name" value="{{ name_filter }}" id="name-searchbar" placeholder="{% trans 'Name' %}"></c-forms.text-field>
            <c-button type="submit" class="flex justify-center items-center gap-2" variant="filled">
                {% trans 'Filter' %}
            </c-button>
        </div>
         
        <div class="pagination mt-4 mb-2">
            <div class="page-links flex space-x-2">
                {% if page_obj.has_previous %}
                    <button type="submit" class="px-3 py-2 rounded-lg text-xs text-center cursor-pointer
                        ring-0 focus:ring-4 focus:outline-none focus:ring-blue-300 disabled:opacity-50 disabled:bg-gray-400 
                        font-bold text-white hover:bg-blue-700 border-blue-700 !text-blue-600 border hover:!border-blue-700 hover:!text-white " 
                        name="page" value="{{ page_obj.previous_page_number }}">
                    {% trans 'Previous' %} 
                    </button>
                {% endif %}
                <div class="page-current px-3 py-2 rounded-lg text-xs text-center ring-0 border bg-white">
                    {% trans 'Page' %} {{ page_obj.number }}/{{ page_obj.paginator.num_pages }}
                </div>
                {% if page_obj.has_next %}
                    <button type="submit" class="px-3 py-2 rounded-lg text-xs text-center cursor-pointer
                        ring-0 focus:ring-4 focus:outline-none focus:ring-blue-300 disabled:opacity-50 disabled:bg-gray-400 
                        font-bold text-white hover:bg-blue-700 border-blue-700 !text-blue-600 border hover:!border-blue-700 hover:!text-white " 
                        name="page" value="{{ page_obj.next_page_number }}">
                    {% trans 'Next' %} 
                    </button>
                {% endif %}
            </div>
        </div>
    </form>
        <div
            class="lg:rounded-default -mx-1 px-1 overflow-x-auto lg:border lg:border-base-200 lg:mx-0 lg:px-0 lg:shadow-xs">
            <table id="result_list" class="block border-base-200 border-spacing-none border-separate w-full lg:table">
                <thead>
                    <tr>
                        <c-table.header>
                            <input type="checkbox" name="action-toggle" id="action-toggle"
                                aria-label="Seleccione todos los objetos de esta página para una acción"
                                class="appearance-none bg-white block border border-base-300 cursor-pointer h-4 min-w-4 relative rounded-[4px] shadow-xs w-4 hover:border-base-400 focus:outline focus:outline-2 focus:outline-offset-2 focus:outline-primary-500 after:absolute after:content-['done'] after:flex! after:h-4 after:items-center after:justify-center after:leading-none after:material-symbols-outlined after:-ml-px after:-mt-px after:text-sm! after:text-white after:transition-all after:w-4 checked:bg-primary-600 checked:border-primary-600 checked:transition-all checked:hover:border-primary-600 ">
                            <span class="block font-normal lg:hidden">
                                {% trans 'Select all rows' %}
                            </span>
                        </c-table.header>
                        {% comment %} Download btn {% endcomment %}
                        <c-table.header></c-table.header>
                        {% comment %} Edit btn {% endcomment %}
                        <c-table.header></c-table.header>
                        {% comment %} Info btn {% endcomment %}
                        <c-table.header></c-table.header>
                        <c-table.header>
                            <a href="?o=1">
                                {% trans 'Status' %}
                            </a>
                        </c-table.header>
                        <c-table.header>
                            <a href="?o=1">
                                {% trans 'Answers' %}
                            </a>
                        </c-table.header>
                        <c-table.header>
                            <a href="?o=2">
                                {% trans 'NIF' %}
                            </a>
                        </c-table.header>
                        <c-table.header>
                            <a href="?o=2">
                                {% trans 'Name' %}
                            </a>
                        </c-table.header>
                        <c-table.header>
                            <a href="?o=2">
                                {% trans 'Contact' %}
                            </a>
                        </c-table.header>
                        <c-table.header>
                            <a href="?o=2">
                                {% trans 'External surveys' %}
                            </a>
                        </c-table.header>
                        <c-table.header>
                            <a href="?o=2">
                                {% trans 'Start date' %}
                            </a>
                        </c-table.header>
                        <c-table.header>
                            <a href="?o=2">
                                {% trans 'End date' %}
                            </a>
                        </c-table.header>

                    </tr>
                </thead>
                {% for survey in object_list %}
                    <tbody
                        class="block relative odd:bg-white even:bg-grey-200 lg:table-row-group lg:hover:shadow-raised lg:hover:z-20 "
                        x-data="{rowOpen: false}">
                        <tr
                            class="block border border-base-200 mb-3 relative rounded-default shadow-xs lg:table-row lg:border-none lg:mb-0 lg:rounded-none lg:shadow-none">
                            <c-table.data class="action-checkbox">
                                <input type="checkbox" name="_selected_action"
                                    value="ea3be194-ec2c-470f-ae54-2aeb3217d357"
                                    class="appearance-none bg-white block border border-base-300 cursor-pointer h-4 min-w-4 relative rounded-[4px] shadow-xs w-4 hover:border-base-400 focus:outline focus:outline-2 focus:outline-offset-2 focus:outline-primary-500 after:absolute after:content-['done'] after:flex! after:h-4 after:items-center after:justify-center after:leading-none after:material-symbols-outlined after:-ml-px after:-mt-px after:text-sm! after:text-white after:transition-all after:w-4 checked:bg-primary-600 checked:border-primary-600 checked:transition-all checked:hover:border-primary-600 action-select"
                                    aria-label="Select record">
                            </c-table.data>

                            <c-table.data class="field-download">
                                <c-button class="!p-0 bg-transparent flex justify-center hover:!bg-transparent">
                                    <c-icon name="download" class="text-blue-600"></c-icon>
                                </c-button>
                            </c-table.data>
                            <c-table.data class="field-edit !px-1">
                                <div>
                                    <form 
                                        hx-get="{% url 'gov_admin:review_survey_actions' survey.id %}"
                                        hx-target="#modal-content"
                                        hx-disabled-elt="button"
                                        class="flex space-x-2 flex-nowrap justify-center"
                                    >
                                        <c-button 
                                            type="submit"
                                            data-modal-target="edit-survey-modal"
                                            class="!p-0 bg-transparent flex justify-center hover:!bg-transparent">
                                            <c-icon name="edit" class="text-blue-600"></c-icon>
                                        </c-button>
                                    </form>
                                </div>

                            </c-table.data>
                            <c-table.data class="field-info !px-1">
                                <c-button class="!p-0 bg-transparent flex justify-center hover:!bg-transparent">
                                    <c-icon name="info-circle" class="text-gray-500"></c-icon>
                                </c-button>
                            </c-table.data>
                            <c-table.data class="field-status">   
                                   <form 
                                        hx-post="{% url 'gov_admin:survey_status_change' survey.id  %}"
                                        hx-trigger= "change",
                                        hx-target="#status-select"
                                    >
                                      <c-forms.dropdown  
                                            id="status-select" 
                                            name="status-selection" 
                                            :options="status" 
                                            :showEmptyOption="False"
                                            :optionSelected="survey.status">
                                        </c-forms.dropdown>  
                                    </form>
                            </c-table.data>
                            <c-table.data class="field-answers">
                                <div class="flex flex-col gap-0">
                                    <div class="w-full bg-gray-200 rounded-full h-2">
                                        <div class="bg-pink-500 h-2 rounded-full"
                                            style="width:  {{ survey.totalProgress }}%"></div>
                                    </div>
                                </div>
                            </c-table.data>
                            <c-table.data class="field-nif">
                                {{survey.organization.vat_number}}
                            </c-table.data>
                            <c-table.data class="field-name">
                                {{survey.organization.name}}
                            </c-table.data>
                            <c-table.data class="field-contact">
                                {{survey.user}}
                            </c-table.data>
                            <c-table.data class="field-external-surveys">

                            </c-table.data>
                            <c-table.data class="field-start-date">
                                {{survey.start_date}}
                            </c-table.data>
                            <c-table.data class="field-end-date">
                                {{survey.closed_date}}
                            </c-table.data>


                        </tr>
                    </tbody>

                {% endfor %}

            </table>
        </div>

    <c-modals.base-modal 
        x-data="{ titleDetails: '' }" id="edit-survey-modal" 
        @show-modal.window="FlowbiteInstances.getAllInstances().Modal['edit-survey-modal'].show(); titleDetails = $event.detail.titleDetails;" 
        @hide-modal.window="FlowbiteInstances.getAllInstances().Modal['edit-survey-modal'].hide()"
        height="98vh"
    >
        <c-slot name="title">
            <c-icon name="edit"></c-icon>
            <span class="font-bold"> {% trans "Edit balance" %}</span>
            <span x-text="titleDetails"></span>
        </c-slot>
    </c-modals.base-modal>
</c-admin.default-layout>