{% load i18n static %}
{% load template_helpers %}

<c-admin.default-layout>

  <c-slot name="extra_js">
    <script src="{% static 'js/field.js' %}"></script>
    <script src="{% static 'js/fieldsSet.js' %}"></script>
    <script src="{% static 'js/section.js' %}"></script>
    <script src="{% static 'js/indicatorsStore.js' %}"></script>
    <script src="{% static 'js/surveyStore.js' %}"></script>
  </c-slot>

    <h1 class="mb-2 text-black font-bold text-2xl">{% trans 'Balance review'%}</h1>
    <div class="mb-4 flex justify-between items-center">
        <h2 class="text-black text-lg">{% trans 'Simple balance'%}</h2>
        {% comment %} <c-button class="flex justify-center items-center gap-2" variant="outlined">
            <c-icon name="download"></c-icon>
            {% trans 'Download data' %}
        </c-button> {% endcomment %}
    </div>

    <form id="balance-filter" method="GET" class="flex flex-col space-y-2">
        <div class="flex space-x-2 items-center">
            <h2 class="min-w-[80px] uppercase font-bold text-gray-500 text-xs">{% trans 'Filter by'%}</h2>
            <c-forms.dropdown class="grow" id="filter-campaign" name="campaign" label="{% trans 'Campaign' %}" :options="campaigns" :showLabel="True" :optionSelected="campaign_filter"></c-forms.dropdown>
            <c-forms.dropdown class="grow" id="filter-region" name="region1" label="{% trans 'Region' %}" :options="regions" :showLabel="True" :optionSelected="region1_filter"></c-forms.dropdown>
            <c-forms.dropdown class="grow" id="filter-method" name="method" label="{% trans 'Method' %}" :options="methods" :showLabel="True" :optionSelected="method_filter"></c-forms.dropdown>
            <c-forms.dropdown class="grow" id="filter-status" name="status" label="{% trans 'Status' %}" :options="status" :showLabel="True" :optionSelected="status_filter"></c-forms.dropdown>
            <c-forms.dropdown class="grow" id="filter-unitanalysis" name="unitanalysis" label="{% trans 'Unit of analysis' %}" :options="unitanalysis" :showLabel="True" :optionSelected="unit_analysis_filter"></c-forms.dropdown>
        </div>
        <div class="flex space-x-2 items-center">
            <c-forms.text-field name="nif" value="{{ nif_filter }}" id="nif-searchbar" placeholder="{% trans 'NIF' %}"></c-forms.text-field>
            <c-forms.text-field name="name" value="{{ name_filter }}" id="name-searchbar" placeholder="{% trans 'Name' %}"></c-forms.text-field>
            <c-button type="submit" class="flex justify-center items-center gap-2" variant="filled">
                {% trans 'Filter' %}
            </c-button>
        </div>

        <c-button 
            variant="outlined"
            class="max-w-fit"
            data-modal-target="email-contact-modal" 
            data-modal-toggle="email-contact-modal" 
            aria-controls="email-contact-modal"
            x-data="
            {
                removeUserName(){
                    const fieldEl = document.getElementById('email-contact-modal');
                    const fieldData = Alpine.$data(fieldEl);

                    fieldData.userName = '';
                },
            }"
            @click="removeUserName();"
        >
            <c-icon name="envelope" class="inline"></c-icon>
            <span class="ms-2">{% trans 'Send email to all with open balances' %}</span>
        </c-button>

    
  
        <div class="pagination mt-4 mb-2">
            <div class="page-links flex space-x-2">
                {% if page_obj.has_previous %}
                    <button type="submit" class="px-3 py-2 rounded-lg text-xs text-center cursor-pointer
                        ring-0 focus:ring-4 focus:outline-none focus:ring-blue-300 disabled:opacity-50 disabled:bg-gray-400 
                        font-bold text-white hover:bg-blue-700 border-blue-700 !text-blue-600 border hover:!border-blue-700 hover:!text-white " 
                        name="page" value="{{ page_obj.previous_page_number }}">
                    {% trans 'Previous' %} 
                    </button>
                {% endif %}
                <div class="page-current px-3 py-2 rounded-lg text-xs text-center ring-0 border bg-white">
                    {% trans 'Page' %} {{ page_obj.number }}/{{ page_obj.paginator.num_pages }}
                </div>
                {% if page_obj.has_next %}
                    <button type="submit" class="px-3 py-2 rounded-lg text-xs text-center cursor-pointer
                        ring-0 focus:ring-4 focus:outline-none focus:ring-blue-300 disabled:opacity-50 disabled:bg-gray-400 
                        font-bold text-white hover:bg-blue-700 border-blue-700 !text-blue-600 border hover:!border-blue-700 hover:!text-white " 
                        name="page" value="{{ page_obj.next_page_number }}">
                    {% trans 'Next' %} 
                    </button>
                {% endif %}
            </div>
        </div>
    </form>
    <div
        class="lg:rounded-default -mx-1 px-1 overflow-x-auto lg:border lg:border-base-200 lg:mx-0 lg:px-0 lg:shadow-xs">
        <table id="result_list" class="block border-base-200 border-spacing-none border-separate w-full lg:table">
            <thead>
                <tr>
                    <c-table.header>
                        <input type="checkbox" name="action-toggle" id="action-toggle"
                            aria-label="Seleccione todos los objetos de esta página para una acción"
                            class="appearance-none bg-white block border border-base-300 cursor-pointer h-4 min-w-4 relative rounded-[4px] shadow-xs w-4 hover:border-base-400 focus:outline focus:outline-2 focus:outline-offset-2 focus:outline-primary-500 after:absolute after:content-['done'] after:flex! after:h-4 after:items-center after:justify-center after:leading-none after:material-symbols-outlined after:-ml-px after:-mt-px after:text-sm! after:text-white after:transition-all after:w-4 checked:bg-primary-600 checked:border-primary-600 checked:transition-all checked:hover:border-primary-600 ">
                        <span class="block font-normal lg:hidden">
                            {% trans 'Select all rows' %}
                        </span>
                    </c-table.header>
                    {% comment %} Download btn {% endcomment %}
                    <c-table.header></c-table.header>
                    {% comment %} Edit btn {% endcomment %}
                    <c-table.header></c-table.header>
                    {% comment %} Info btn {% endcomment %}
                    <c-table.header></c-table.header>
                    <c-table.header>
                        {% trans 'Status' %}
                    </c-table.header>
                    <c-table.header>
                        {% trans 'Answers' %}
                    </c-table.header>
                    <c-table.header>
                        {% trans 'NIF' %}
                    </c-table.header>
                    <c-table.header>
                        {% trans 'Name' %} 
                    </c-table.header>
                    <c-table.header>
                        {% trans 'Project' %}
                    </c-table.header>
                    <c-table.header>
                        {% trans 'Contact' %}
                    </c-table.header>
                    <c-table.header>
                        {% trans 'External surveys' %}
                    </c-table.header>
                    <c-table.header>
                        <a href="?{{ request.GET|toggle_sort:"start_date" }}">
                            {% trans 'Start date' %} 
                            
                            {% if request.GET.o == 'start_date' %}
                                <c-icon name="caret-up" class="inline"></c-icon>
                            {% else %}
                                <c-icon name="caret-down" class="inline"></c-icon>
                            {% endif %}
                        </a>
                    </c-table.header>
                    <c-table.header>
                        <a href="?{{ request.GET|toggle_sort:"closed_date" }}">
                            {% trans 'End date' %}

                            {% if request.GET.o == 'closed_date' %}
                                <c-icon name="caret-up" class="inline"></c-icon>
                            {% else %}
                                <c-icon name="caret-down" class="inline"></c-icon>
                            {% endif %}
                        </a>
                    </c-table.header>

                </tr>
            </thead>
            <tbody>
                {% for survey in object_list %}
                    <c-methods.survey-review-row :survey="survey" />
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% comment %} Edit survey modal {% endcomment %}
    <c-modals.base-modal 
        x-data="{ titleDetails: '' }" id="edit-survey-modal" 
        @show-modal.window="if($event.detail.id == 'edit-survey-modal'){ FlowbiteInstances.getAllInstances().Modal['edit-survey-modal'].show(); titleDetails = $event.detail.titleDetails; }" 
        @hide-modal.window="$event.detail.id == 'edit-survey-modal' ? FlowbiteInstances.getAllInstances().Modal['edit-survey-modal'].hide() : null"
        height="98vh"
    >
        <c-slot name="title">
            <c-icon name="edit"></c-icon>
            <span class="font-bold"> {% trans "Edit balance" %}</span>
            <span x-text="titleDetails"></span>
        </c-slot>
    </c-modals.base-modal>

    {% comment %} Info of pending errors in survey modal {% endcomment %}
    {% comment %} Add hidden button to trigger Flowbite init {% endcomment %}
    <button class="hidden" data-modal-target="survey-errors-modal"></button>
    <c-modals.base-modal 
        x-data="{ titleDetails: '{{method.name}}' }" id="survey-errors-modal" 
        @show-modal.window="$event.detail.id == 'survey-errors-modal' ? FlowbiteInstances.getAllInstances().Modal['survey-errors-modal'].show() : null" 
        @hide-modal.window="$event.detail.id == 'survey-errors-modal' ? FlowbiteInstances.getAllInstances().Modal['survey-errors-modal'].hide() : null"
        height="70vh" width="900px"
    >
        <c-slot name="title">
            <c-icon name="info-circle"></c-icon>
            <span class="font-bold"> {% trans "Balance errors" %}</span>
            <span x-text="' | ' + titleDetails"></span>
        </c-slot>

        <template x-for="section in $store.survey.validatedSections" :key="section.id">
            <div>
                <h3 class="font-bold text-md mb-4" x-text="section.title"></h3>
                <ul class="rounded-lg  border border-gray-200 shadow-sm">
                <template x-for="invalidIndicator in section.invalidIndicators">
                    <li class="flex space-x-2 even:bg-gray-100 odd:bg-white">
                    <div class="p-4" x-text="invalidIndicator.code"></div>
                    <div class="p-4 grow" x-html="invalidIndicator.name"></div>
                    <div class="p-4">
                        <c-icon name="close" class="text-red-600"></c-icon>
                    </div>
                    </li>
                </template>
                </ul>
            </div>
        </template>
    </c-modals.base-modal>

    {% comment %} Email sending confirmation modal {% endcomment %}
    <c-modals.base-modal 
        id="email-contact-modal" 
        height="270px"
        width="600px"
        x-data="{
            userName: '', 
            sendEmailUrl: '' ,
            setSendEmailUrl(surveyId) {
                this.sendEmailUrl = '/en/methods/user-survey-reminder-send/' + surveyId;
            },   
        }"
    >
        <c-slot name="title">
            <h3 class="font-bold"> {% translate "Email sending confirmation" %}</h3>
        </c-slot> 
        <div class="flex flex-col justify-between h-full">
            <p x-show='userName' class="mb-6 ">
                {% translate "You are going to send an email to" %} <span x-text="userName"></span>, {% translate "are you sure?" %}    
            </p>
            
            <p x-show='!userName' class="mb-6 ">
                {% translate "You are going to send an email to all the organisations who have an open method, are you sure?" %}  
            </p>
            <div class="flex items-center justify-center gap-4">
               
                <c-button x-show='userName' data-modal-hide="email-contact-modal" >
                    <a :href="sendEmailUrl" > {% translate "Yes, I am sure" %}</a>
                </c-button>
                
                <c-button x-show='!userName' data-modal-hide="email-contact-modal" >
                    <a href="{% url 'methods:survey_reminder_email' %}" > {% translate "Yes, I am sure" %}</a>
                </c-button>
    
                <c-button data-modal-hide="email-contact-modal" class="bg-white !text-blue-600 !border-blue-600 border hover:!border-blue-700 hover:!text-white">
                    {% translate "No, cancel" %}
                </c-button>
            </div>
        </div>
    </c-modals.base-modal>
</c-admin.default-layout>