{% load i18n %}

<c-base>
    <div class="p-2">
        <c-header></c-header>
        <c-navbar/>
    </div>
    <main class="grid grid-cols-1 gap-[48px] p-16">
        <div class="text-center">
            <h1 class="text-3xl font-bold mb-4">
                {% if organization_update %}{% translate 'Organization update' %}
                {% else %}{% translate 'Registration request' %}
                {% endif %}
            </h1>
            <h2 class="text-md">{{ _("Transparent, social and solidarity based economy") }}</h2>
        </div>
        <div class="w-full bg-white rounded-md shadow max-w-3xl mt-0 mx-auto p-0">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">

                <c-form-errors></c-form-errors>

                <form method="post" enctype="{% block enctype %}multipart/form-data{% endblock %}"
                    id="registration-form" {% block form_action %}{% endblock %} class="space-y-4 md:space-y-6">
                    {% csrf_token %}

                    {{ form }}

                    {% if not form.fields.field_text_1.disabled %}
                        <div class="flex justify end">
                            <input type="submit" class="w-full max-w-[250px] ml-auto px-5 py-2.5 rounded-lg bg-blue-600 text-white font-bold text-sm text-center cursor-pointer
                            hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300"
                                value="{% block submit_text %}{% if organization_update %}{% translate 'Submit changes' %}{% else %}{% translate 'Submit registration request' %}{%endif%}{% endblock %}"
                                id="id_submit">
                        </div>

                    {% endif %}
                </form>
            </div>
        </div>
</c-base>