{% load i18n admin_urls %}
{% if cl %}
{% url cl.opts|admin_urlname:"add" as add_url %}
{% else %}
{% url opts|admin_urlname:"add" as add_url %}
{% endif %}

{% if add_url %}
<a href="{% add_preserved_filters add_url is_popup to_field %}" class="addlink" title="{{ title }}">
    <c-button class="max-w-[400px]">
        <c-icon name="circle-plus" class="text-white"></c-icon>
        <span class="ms-2 text-white font-bold">
            {% blocktrans with name=opts.verbose_name %}Add new {{ name }}{% endblocktrans %}
        </span>
    </c-button>
</a>
{% endif %}