{% extends 'unfold/layouts/skeleton.html' %}

{% load admin_list static i18n unfold %}

{% comment %} 

Admin default layout component

Input params:
- bodyclass: String

{% endcomment %}

{% block extrahead %}
    <script src="/static/js/flowbite_v2.3.0.min.js"></script>
    <script src="{% url 'admin:jsi18n' %}"></script>
    {{ media }}
{% endblock %}

{% block bodyclass %}{{ bodyclass }}{% endblock %}

{% block base %}
    <div id="page" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' class="max-w-full relative min-h-screen flex flex-col {% element_classes 'page' %}">
        
        <c-header displayAvatar="True" />
        
        <div class="flex-grow flex gap-2 mt-0 pt-0 p-2 items-stretch">
            <c-admin.sidebar :app_list="available_apps"/>

            <div id="main" class="mx-auto p-4 flex flex-col grow min-w-0 {% element_classes 'main' %}">

                {% block messages %}
                    <div class="px-4">
                        <div class="{% if not cl.model_admin.list_fullwidth %}container{% endif %} mx-auto">
                            {% include "unfold/helpers/messages.html" %}
                        </div>
                    </div>
                {% endblock messages %}

                <div class="px-4 pb-4 grow">
                    <div id="content" class="container mx-auto {% block coltype %}colM{% endblock %}">
                        {{object_tools}}
                        {% if cl %}
                            {% tab_list "changelist" cl.opts %}
                        {% elif opts %}
                            {% tab_list "changeform" opts %}
                        {% endif %}
                        {% block content %}
                            
                            {{ slot }}
                            
                        {% endblock %}
                    </div>
                </div>
    
                {% block footer %}
                    {% block pagination %}
                        {% include "unfold/helpers/pagination.html" %}
                    {% endblock %}
                {% endblock %}

            </div>
        </div>

    </div>

    <script src="{% static 'js/notificationsStore.js' %}"></script>
    <div
        id="notifications" class="z-[99] fixed bottom-5 right-5 flex flex-col space-y-2"
        x-data
        class="fixed inset-0 flex flex-col-reverse items-end justify-end h-screen w-screen"
        @notification.window="$store.notifications.add($event.detail)"
        style="pointer-events:none"
    >
        <template x-for="notification of $store.notifications.notifications" :key="notification.id">
            <c-toasts.toast ::type="notification.type" ::color="notification.color" ::icon="notification.icon"></c-toast>
        </template>
    </div>

    {{ extra_js }}

{% endblock %}
 
