{% load i18n static active_link_tags extra_settings %}

<aside id="logo-sidebar"
    class="w-64 py-[40px] px-[2rem] bg-gray-800 rounded-md"
    aria-label="Sidebar"
>
    <div class="h-full overflow-y-auto">
      <nav>
        <ul class="space-y-3 font-medium">
          <!-- Organizations -->
          <li>
            <!-- <li class="{% active_link 'organizations' %}"> -->
            <a href="{% url 'admin:organizations_organization_changelist' %}"
              id="menu_organizations"
              class="flex items-center p-1 text-gray-300 rounded-lg hover:bg-gray-600 group">
              <c-icon icon="group"></c-icons>
              <span class="ms-3">{% translate 'Organizations' %}</span>
            </a>
          </li>
          <li>
            <a href="{% url 'admin:methods_method_changelist' %}"
              id="menu_methods"
              class="flex items-center p-1 text-gray-300 rounded-lg hover:bg-gray-600 group">
              <c-icon icon="adjustments-horizontal"></c-icons>
              <span class="ms-3">{% translate 'Methods' %}</span>
            </a>
          </li>
          <li>
            <a href="{% url 'admin:index' %}"
              id="menu_features"
              class="flex items-center p-1 text-gray-300 rounded-lg hover:bg-gray-600 group">
              <c-icon icon="clipboard-list"></c-icons>
              <span class="ms-3">{% translate 'Features' %}</span>
            </a>
          </li>
          <hr>
          <li>
            <a href="{% url 'admin:index' %}"
              id="menu_settings"
              class="flex items-center p-1 text-gray-300 rounded-lg hover:bg-gray-600 group">
              <c-icon icon="cog"></c-icons>
              <span class="ms-3">{% translate 'Settings' %}</span>
            </a>
          </li>
          <li>
            <a href="{% url 'admin:index' %}"
              id="menu_auxiliary_data"
              class="flex items-center p-1 text-gray-300 rounded-lg hover:bg-gray-600 group">
              <c-icon icon="book"></c-icons>
              <span class="ms-3">{% translate 'Auxiliary data' %}</span>
            </a>
          </li>
         
        </ul>
      </nav>
      <div>
      
    </div>
</aside>