{% load i18n %}

<c-vars id="modal-id" title="Modal title" height="auto" width="auto">

<div id="{{id}}" {{attrs}} tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden z-40 fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative p-4 w-full max-w-[1100px] max-h-[98vh]" style="height: {{height}}; width: {{width}}">
        <!-- Modal content -->
        <div class="relative flex flex-col bg-white border border-default rounded-lg shadow-sm p-4 md:p-6 h-full">
            <!-- Modal header -->
            <div class="flex items-center justify-between border-b border-default pb-4 md:pb-5">
                <h3 class="text-lg font-medium text-heading flex space-x-2 items-center">
                    {{ title }}
                </h3>
                <button type="button" class="text-body bg-transparent hover:bg-neutral-tertiary hover:text-heading rounded-base text-sm w-9 h-9 ms-auto inline-flex justify-center items-center" data-modal-hide="{{id}}">
                    <c-icon name="close"></c-icon>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <div id="modal-content" class="grow space-y-4 md:space-y-6 py-4 pe-4 md:py-6 max-h-full overflow-y-scroll">
                {{ slot }}
            </div>
        </div>
    </div>
</div>