{% load i18n %}

<div x-data="fieldsSet({code: '{{indicators_set_dict.indicators_set.code}}', name: '{{indicators_set_dict.set_name}}'})" :id="`set_${id}`" x-show="show">
  <div class="px-2 py-1 mb-1 w-fit h-fit text-xs font-bold rounded-sm bg-pink-100" x-text="code"></div>
  <p class="flex align-items-start">
    <span class="mb-3 me-2 font-medium" x-text="title"></span>
    <template x-if="description != ''">
      <c-help-drawer class="self-align-start" id="{{indicators_set_dict.id}}"></c-help-drawer>
    </template>
  </p>

  <div id="set_{{indicators_set_dict.indicators_set.code}}" data-accordion="collapse">
    <template x-for="instance in instances" :key="instance">
      <div>
        <div 
          :id="`${name}-heading-${instance}`" 
          class="flex justify-between items-center w-full h-fit p-6 bg-white border border-gray-200 rounded-lg shadow-sm hover:bg-gray-50 hover:cursor-pointer"
          :data-accordion-target="`#${name}-body-${instance}`" aria-expanded="false" :aria-controls="`${name}-body-${instance}`"
        >
          <p>{{indicators_set_dict.indicators_set.instance_name}} #<span x-text="instance"></span></p>
          <c-button variant="icon" @click.prevent="remove(instance)" class="hover:bg-red-500 hover:text-white">
            <c-icon name="trash-bin"></c-icon>
          </c-button>
        </div>
        <div :id="`${name}-body-${instance}`" :aria-labelledby="`${name}-heading-${instance}`"
          class="flex flex-col gap-4 p-6 bg-white border border-gray-200 rounded-lg shadow-sm"
        > 
          {{slot}}
        </div>
      </div>
    </template>
  </div>
  <c-button @click="add()" class="mt-4">{% translate 'Add' %}</c-button>
</div>
