@import "tailwindcss";

@theme static {
    --color-primary: var(--color-pink-500);
    --color-secondary: var(--color-green-500);
    --color-background: var(--color-gray-50);
}

#registration-form label:has(+ input[required])::after,
#registration-form label:has(+ select[required])::after {
    content: '*';
    color: red;
}

@keyframes slideInUp {
    from {
        transform: translateY(100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.slide-in-up {
    animation: slideInUp 1s ease-out;
}


@keyframes slideOutDown {
    from {
        transform: translateY(0);
        opacity: 1;
    }

    to {
        transform: translateY(300%);
        opacity: 0;
        visibility: hidden;
    }
}

.slide-out-down {
    animation: slideOutDown 2s ease-in;
}