@import "tailwindcss";

/* Ignore dark theme classes */
@custom-variant dark (&:not(*));

@theme static {
    --color-primary: var(--color-pink-500);
    --color-secondary: var(--color-green-500);
    --color-background: var(--color-gray-50);
}

#registration-form label:has(+ input[required])::after,
#registration-form label:has(+ select[required])::after {
    content: '*';
    color: red;
}

@keyframes slideInUp {
    from {
        transform: translateY(100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.slide-in-up {
    animation: slideInUp 1s ease-out;
}


@keyframes slideOutDown {
    from {
        transform: translateY(0);
        opacity: 1;
    }

    to {
        transform: translateY(300%);
        opacity: 0;
        visibility: hidden;
    }
}

.slide-out-down {
    animation: slideOutDown 2s ease-in;
}

tr.htmx-swapping td {
    opacity: 0;
    transition: opacity 1s ease-out;
}

[x-cloak] {
    display: none;
}

.progress {
    animation: progress;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

@keyframes progress {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}